<mat-form-field appearance="fill">
  <mat-label>Type</mat-label>
  <mat-select [formControl]="typeFormControl">
    <mat-option *ngFor="let type of availableTypes | async" [value]="type.url">{{type.name}}</mat-option>
  </mat-select>
</mat-form-field>
<ng-container [formGroup]="formGroup" *ngIf="response | async as _response">
  <mat-form-field appearance="fill" *ngFor="let control of formGroup.controls | keyvalue; let index = index">
    <mat-label>{{_response[index]?.text}}</mat-label>
    <mat-select [formControlName]="control.key" multiple>
      <mat-option *ngFor="let val of _response[index]?.value | keyvalue" [value]="val.key">{{val.value}}</mat-option>
    </mat-select>
  </mat-form-field>
</ng-container>
