<mat-form-field appearance="fill">
  <mat-label>Type</mat-label>
  <mat-select [formControl]="typeFormControl">
    <mat-option *ngFor="let type of availableTypes | async" [value]="type.url">{{type.name}}</mat-option>
  </mat-select>
</mat-form-field>
<ng-container [formGroup]="formGroup" *ngIf="options | async as _options">
  <mat-form-field appearance="fill" *ngFor="let control of formGroup.controls | keyvalue; let index = index">
    <mat-label>{{_options[index]?.text}}</mat-label>
    <mat-select [formControlName]="control.key" multiple>
      <mat-option *ngFor="let option of _options[index]?.value | keyvalue" [value]="option.key">{{option.value}}</mat-option>
    </mat-select>
  </mat-form-field>
  <button mat-raised-button color="primary" (click)="onSearch()">Search</button>
</ng-container>
