@import '~@angular/material/theming';
@import 'src/client/styles/_styles';

.container {
  display: grid;

  -ms-grid-rows: 60px;
  -ms-grid-columns: 80px 1fr 80px;

  grid-template-rows: 60px;
  grid-template-columns: 80px 1fr 80px;
  grid-template-areas: "icon version github";
  column-gap: 8px;
  justify-content: space-between;

  color: $white;
  background-color: $header-color;
  @include mat-elevation(6);

  .icon {
    -ms-grid-row: 1;
    -ms-grid-column: 1;
    grid-area: icon;
    place-self: center;
  }

  .version {
    -ms-grid-row: 1;
    -ms-grid-column: 2;
    grid-area: version;
    justify-self: end;
    align-self: center;
  }

  .github {
    -ms-grid-row: 1;
    -ms-grid-column: 3;
    grid-area: github;
    place-self: center;

    .link {
      text-decoration: none;
      color: $white;
    }
  }
}
