<ng-container>
  <nav class="container">
    <mat-icon class="icon" [routerLink]="'/main'">home</mat-icon>
    <button (click)="onFetch()">Fetch</button>
    <span class="version">0.1.1</span>
    <span class="github">
      <a class="link" href="https://github.com/vazsonyidl/stat-app" target="_blank">Github</a>
    </span>
  </nav>
  <nav mat-tab-nav-bar>
    <span mat-tab-link [routerLink]="'/main'">Map search</span>
    <span mat-tab-link [routerLink]="'/chart'">Chart visualization</span>
  </nav>
</ng-container>
